# Laravel 5
/vendor
.env
Homestead.yaml
Homestead.json
composer.lock

#IDE
/.idea

#Other
node_modules/
public/storage
public/js
public/css
public/fonts
public/images
mix-manifest.json
npm-debug.log
/public/mix-manifest.json
/public/mix-manifest.json
