
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

                            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Exo+2:200,300,400,500,600,600italic,700">
            
    <link rel="stylesheet" type="text/css" href="../../assets/libraries/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/libraries/chosen/chosen.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/libraries/rangeSlider/css/ion.rangeSlider.css">
    <link rel="stylesheet" type="text/css" href="../../assets/libraries/rangeSlider/css/ion.rangeSlider.skinNice.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/variants/directory.css?20142206">
    <link rel="stylesheet" type="text/css" href="../../assets/libraries/bootstrap-vertical-tabs/bootstrap.vertical-tabs.min.css">

    <title>
    	    		Grid |
    	
    	
    	Director
    </title>
</head>

<body class="breadcrumb-white footer-top-dark">

<div id="page">
    <div id="header-wrapper">
        <div id="header">
            <div id="header-inner">
                <nav class="navbar navbar-default">
                    <div class="header-secondary">
                        <div class="container clearfix">
                            Select Language
                            <ul class="languages">
                                <li>
                                    <a href="#" class="language-active">
                                        <img class="iclflag" src="../../assets/img/flags/en.png" alt="en" title="English">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="language-flag" src="../..//assets/img/flags/fr.png" alt="fr" title="Français">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img class="language-flag" src="../..//assets/img/flags/de.png" alt="de" title="Deutsch">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">

                                        <img class="language-flag" src="../../assets/img/flags/it.png" alt="it" title="Italiano">
                                    </a>
                                </li>
                            </ul><!-- /.languages -->

                            <ul class="header-submenu pull-right">
                                <li><a href="#"><i class="fa fa-users color-gray-dark"></i> <span class="hidden-xs">Register</span></a></li>
                                <li><a href="#"><i class="fa fa-sign-in color-gray-dark"></i> <span class="hidden-xs">Login</span></a></li>
                                <li><a href="page-submit.html"><i class="fa fa-plus-square"></i> Submit</a></li>
                            </ul>
                        </div><!-- /.container -->
                    </div><!-- /.header-secondary -->

                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="index.html">
                                <span class="logo-styled">
                                    <span class="logo-title">
                                        <img src="../../assets/img/logo-directory.png" alt=""> Director
                                    </span><!-- /.logo-title -->
                                    <span class="logo-subtitle hidden-sm">Business <br/> Directory</span>
                                </span><!-- /.logo-styled -->
                            </a>
                        </div>

                        <div class="collapse navbar-collapse" id="navbar-main">
                            <ul class="nav navbar-nav navbar-right">
    <li class="menuparent hidden-sm">
        <a href="#">Home</a>
        <ul>
            <li><a href="../../demo/automotive/index.html">Automotive</a></li>
            <li><a href="../../demo/directory/index.html">Directory</a></li>
            <li><a href="../../demo/real-estate/index.html">Real Estate</a></li>
        </ul>
    </li>

            
        <li class="menuparent">
    <a href="#">Specific</a>

    <ul>
        <li><a href="detail.html">Item Detail</a></li>
        <li><a href="listing-grid.html">Grid Version</a></li>
        <li><a href="listing-grid-filter.html">Grid + Filter</a></li>
        <li><a href="listing-row.html">Row Version</a></li>
        <li><a href="listing-row-filter.html">Row + Filter</a></li>
    </ul>
</li>    
    <li class="menuparent megamenu columns4">
        <a href="#">Pages</a>

        <ul>
            <li>
                <ul>
                    <li><a href="page-accordions.html"><i class="fa fa-reorder"></i> Accordions</a></li>                                                    
                    <li><a href="page-grid.html"><i class="fa fa-th"></i> Grid</a></li>                                                
                    <li><a href="page-404.html"><i class="fa fa-question"></i> Not Found</a></li>                    
                    <li><a href="page-invoice.html"><i class="fa fa-file"></i> Invoice</a></li>
                    <li><a href="page-faq.html"><i class="fa fa-question"></i> FAQ</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li><a href="page-blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a></li>       
                    <li><a href="page-500.html"><i class="fa fa-exclamation"></i> Internal Error</a></li>
                    <li><a href="page-pricing.html"><i class="fa fa-euro"></i> Pricing</a></li>                         
                    <li><a href="page-login.html"><i class="fa fa-sign-in"></i> Login</a></li>
                    <li><a href="page-renew-password.html"><i class="fa fa-life-ring"></i> Renew Pass</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li><a href="page-contact.php"><i class="fa fa-phone"></i> Contact Page</a></li>
                    <li><a href="page-list-of-icons.html"><i class="fa fa-list"></i> List of Icons</a></li>
                    <li><a href="page-tables.html"><i class="fa fa-table"></i> Tables</a></li>
                    <li><a href="page-register.html"><i class="fa fa-check-square"></i> Registration</a></li>
                    <li><a href="page-terms.html"><i class="fa fa-file-text"></i> Conditions</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li><a href="page-features.html"><i class="fa fa-heart"></i> Features</a></li>
                    <li><a href="page-notifications.html"><i class="fa fa-warning"></i> Notifications</a></li>
                    <li><a href="page-tabs.html"><i class="fa fa-bars"></i> Tabs</a></li>
                    <li><a href="page-change-password.html"><i class="fa fa-gear"></i> Change Pass</a></li>
                    <li><a href="page-members.html"><i class="fa fa-users"></i> Members</a></li>
                </ul>
            </li>            
        </ul>
    </li>

    <li class="menuparent megamenu columns3">
        <a href="#">Portfolio</a>
        <ul> 
            <li>                                        
                <ul>
                    <li class="header"><a href="#"><i class="fa fa-columns"></i> 4 Columns</a></li>
                    <li><a href="portfolio-4-columns-standard-fullwidth.html">Standard Fullwidth</a></li>
                    <li><a href="portfolio-4-columns-no-spacing-fullwidth.html">No Spacing Fullwidth</a></li>
                    <li><a href="portfolio-4-columns-isotope-fullwidth.html">Isotope Fullwidth</a></li>
                    <li><a href="portfolio-4-columns-standard-left-sidebar.html">Standard Left Sidebar</a></li>
                    <li><a href="portfolio-4-columns-no-spacing-left-sidebar.html">No Spacing Left Sidebar</a></li>
                    <li><a href="portfolio-4-columns-isotope-left-sidebar.html">Isotope Left Sidebar</a></li>
                    <li><a href="portfolio-4-columns-standard-right-sidebar.html">Standard Right Sidebar</a></li>
                    <li><a href="portfolio-4-columns-no-spacing-right-sidebar.html">No Spacing Right Sidebar</a></li>
                    <li><a href="portfolio-4-columns-isotope-right-sidebar.html">Isotope Right Sidebar</a></li>
                </ul>
            </li>

            <li>                                        
                <ul>
                    <li class="header"><a href="#"><i class="fa fa-columns"></i> 3 Columns</a></li>
                    <li><a href="portfolio-3-columns-standard-fullwidth.html">Standard Fullwidth</a></li>
                    <li><a href="portfolio-3-columns-no-spacing-fullwidth.html">No Spacing Fullwidth</a></li>
                    <li><a href="portfolio-3-columns-isotope-fullwidth.html">Isotope Fullwidth</a></li>
                    <li><a href="portfolio-3-columns-standard-left-sidebar.html">Standard Left Sidebar</a></li>
                    <li><a href="portfolio-3-columns-no-spacing-left-sidebar.html">No Spacing Left Sidebar</a></li>
                    <li><a href="portfolio-3-columns-isotope-left-sidebar.html">Isotope Left Sidebar</a></li>
                    <li><a href="portfolio-3-columns-standard-right-sidebar.html">Standard Right Sidebar</a></li>
                    <li><a href="portfolio-3-columns-no-spacing-right-sidebar.html">No Spacing Right Sidebar</a></li>
                    <li><a href="portfolio-3-columns-isotope-right-sidebar.html">Isotope Right Sidebar</a></li>
                </ul>
            </li> 

            <li>                                        
                <ul>
                    <li class="header"><a href="#"><i class="fa fa-columns"></i> 2 Columns</a></li>
                    <li><a href="portfolio-2-columns-standard-fullwidth.html">Standard Fullwidth</a></li>
                    <li><a href="portfolio-2-columns-no-spacing-fullwidth.html">No Spacing Fullwidth</a></li>
                    <li><a href="portfolio-2-columns-isotope-fullwidth.html">Isotope Fullwidth</a></li>
                    <li><a href="portfolio-2-columns-standard-left-sidebar.html">Standard Left Sidebar</a></li>
                    <li><a href="portfolio-2-columns-no-spacing-left-sidebar.html">No Spacing Left Sidebar</a></li>
                    <li><a href="portfolio-2-columns-isotope-left-sidebar.html">Isotope Left Sidebar</a></li>
                    <li><a href="portfolio-2-columns-standard-right-sidebar.html">Standard Right Sidebar</a></li>
                    <li><a href="portfolio-2-columns-no-spacing-right-sidebar.html">No Spacing Right Sidebar</a></li>
                    <li><a href="portfolio-2-columns-isotope-right-sidebar.html">Isotope Right Sidebar</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="menuparent">
        <a href="#">Blog</a>

        <ul>
            <li><a href="blog-detail.html">Detail Page</a></li>
            <li><a href="blog-detail-left-sidebar.html">Detail Left Sidebar</a></li>
            <li><a href="blog-detail-right-sidebar.html">Detail Right Sidebar</a></li>
            <li><a href="blog-rows.html">Rows Version</a></li>
            <li><a href="blog-rows-left-sidebar.html">Rows Left Sidebar</a></li>
            <li><a href="blog-rows-right-sidebar.html">Rows Right Sidebar</a></li>    
            <li><a href="blog-grid.html">Grid Version</a></li>
            <li><a href="blog-grid-left-sidebar.html">Grid Left Sidebar</a></li>
            <li><a href="blog-grid-right-sidebar.html">Grid Right Sidebar</a></li>
        </ul>
    </li>
    <li>
        <a href="page-contact.html">Contact</a>
    </li>
</ul><!-- /.nav -->                        </div><!-- /.navbar-collapse -->
                    </div>
                </nav>
            </div><!-- /#header-inner -->
        </div><!-- /#header -->
    </div><!-- /#header-wrapper -->	

    <div id="main-wrapper">
        <div id="main">
            <div id="main-inner"><div class="breadcrumb-wrapper">
    <div class="container">
        <ol class="breadcrumb pull-left">
            <li><a href="#">Vivamus</a></li>
            <li><a href="#">Proin era</a></li>
            <li class="active">Fusce accumsan</li>
        </ol><!-- /.breadcrumb -->

    </div><!-- /.container -->
</div><!-- /.breadcrumb-wrapper -->
<div class="container">    
	<div class="block-content">
    	<div class="block-content-inner">
			<div class="page-header center">
				<h1>Grid</h1>
			</div><!-- /.page-header -->

			<div class="block-content">
    <div class="block-content-inner">
        <div class="row">
            <div class="col-sm-9">
                <h3>3/4</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus. Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus. Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus. Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>

            <div class="col-sm-3">
                <h3>1/4</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>
        </div>
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->

<div class="block-content">
    <div class="block-content-inner">
        <div class="row">
            <div class="col-sm-8">
                <h3>2/3</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus. Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus. Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis.
                </p>
            </div>

            <div class="col-sm-4">
                <h3>1/3</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>
        </div>
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->

<div class="block-content">
    <div class="block-content-inner">
        <div class="row">
            <div class="col-sm-4">
                <h3>1/3</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>

            <div class="col-sm-4">
                <h3>1/3</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>
            <div class="col-sm-4">
                <h3>1/3</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>
        </div>
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->

<div class="block-content">
    <div class="block-content-inner">
        <div class="row">
            <div class="col-sm-6">
                <h3>1/2</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus. Nulla et rhoncus sem, vitae fringilla justo. Sed adipiscing suscipit nulla. Sed lacinia est at quam cursus, tempus vulputate sapien pretium. Morbi eu nisl mauris.
                </p>
            </div>

            <div class="col-sm-6">
                <h3>1/2</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus. Nulla et rhoncus sem, vitae fringilla justo. Sed adipiscing suscipit nulla. Sed lacinia est at quam cursus, tempus vulputate sapien pretium. Morbi eu nisl mauris.
                </p>
            </div>
        </div>
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->

<div class="block-content">
    <div class="block-content-inner">
        <div class="row">
            <div class="col-sm-3">
                <h3>1/4</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>

            <div class="col-sm-3">
                <h3>1/4</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>

            <div class="col-sm-3">
                <h3>1/4</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>

            <div class="col-sm-3">
                <h3>1/4</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>
        </div>
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->

<div class="block-content">
    <div class="block-content-inner">
        <div class="row">
            <div class="col-sm-3">
                <h3>1/4</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar.
                </p>
            </div>

            <div class="col-sm-6">
                <h3>1/2</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus. Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar lectus.
                </p>
            </div>

            <div class="col-sm-3">
                <h3>1/4</h3>
                <p>
                    Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar.
                </p>
            </div>
        </div>
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->

    <div class="block-content">
        <div class="block-content-inner">
            <div class="row">
                <div class="col-sm-2">
                    <h3>1/6</h3>
                    <p>
                        Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar.
                    </p>
                </div>
                <div class="col-sm-2">
                    <h3>1/6</h3>
                    <p>
                        Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar.
                    </p>
                </div>
                <div class="col-sm-2">
                    <h3>1/6</h3>
                    <p>
                        Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar.
                    </p>
                </div>
                <div class="col-sm-2">
                    <h3>1/6</h3>
                    <p>
                        Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar.
                    </p>
                </div>
                <div class="col-sm-2">
                    <h3>1/6</h3>
                    <p>
                        Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar.
                    </p>
                </div>
                <div class="col-sm-2">
                    <h3>1/6</h3>
                    <p>
                        Cras eu lectus a nulla vulputate scelerisque eget tincidunt orci. Curabitur mattis pretium mollis. Fusce ac mattis mi, nec pulvinar.
                    </p>
                </div>
            </div>
        </div><!-- /.block-content-inner -->
    </div><!-- /.block-content -->	    </div><!-- /.block-content-inner -->
	</div><!-- /.block-content -->			
</div>

            </div><!-- /#main-inner -->
        </div><!-- /#main -->
    </div><!-- /#main-wrapper -->
    
    <div id="footer-wrapper">
        <div id="footer">
            <div id="footer-inner">
                                    <div class="footer-top">
                        <div class="container">
                            <div class="row">
    <div class="col-sm-3">
        <div class="widget">
            <h3>About</h3>

            <div class="list-group clean">
                <a href="#" class="list-group-item">Terms &amp; Conditions</a>
                <a href="#" class="list-group-item">Advertisment</a>
                <a href="#" class="list-group-item">Press Information</a>
                <a href="#" class="list-group-item">Our Team</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="widget">
            <h3>Help</h3>

            <div class="list-group clean">
                <a href="#" class="list-group-item">Tutorials</a>
                <a href="#" class="list-group-item">FAQ</a>
                <a href="#" class="list-group-item">Handbook</a>
                <a href="#" class="list-group-item">API</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="widget">
            <h3>Carrer</h3>

            <div class="list-group clean">
                <a href="#" class="list-group-item">PHP Guru</a>
                <a href="#" class="list-group-item">JavaScript Ninja</a>
                <a href="#" class="list-group-item">HTML Rockstar</a>
                <a href="#" class="list-group-item">Project Manager</a>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="widget">
            <h3>Language</h3>

            <div class="list-group clean">
                <a href="#" class="list-group-item"><img src="../../assets/img/flags/en.png" alt="en" title="English"> English</a>
                <a href="#" class="list-group-item"><img src="../../assets/img/flags/de.png" alt="en" title="German"> German</a>
                <a href="#" class="list-group-item"><img src="../../assets/img/flags/it.png" alt="en" title="Italian"> Italian</a>
                <a href="#" class="list-group-item"><img src="../../assets/img/flags/fr.png" alt="en" title="French"> French</a>
            </div>
        </div>
    </div>
</div>

<div class="block-content block-content-small-padding fullwidth background-primary-medium">
    <div class="block-content-inner">
        <ul class="glossary">
            <li><a href="#">A</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">D</a></li>
            <li><a href="#">E</a></li>
            <li><a href="#">F</a></li>
            <li><a href="#">G</a></li>
            <li><a href="#">H</a></li>
            <li><a href="#">I</a></li>
            <li><a href="#">J</a></li>
            <li><a href="#">K</a></li>
            <li><a href="#">L</a></li>
            <li><a href="#">M</a></li>
            <li><a href="#">N</a></li>
            <li><a href="#">O</a></li>
            <li><a href="#">P</a></li>
            <li><a href="#">Q</a></li>
            <li><a href="#">R</a></li>
            <li><a href="#">S</a></li>
            <li><a href="#">T</a></li>
            <li><a href="#">U</a></li>
            <li><a href="#">V</a></li>
            <li><a href="#">W</a></li>
            <li><a href="#">X</a></li>
            <li><a href="#">Y</a></li>
            <li><a href="#">Z</a></li>
        </ul>
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->

<div class="block-content fullwidth block-content-small-padding background-primary-dark">
    <div class="block-content-inner">
        <div class="social-stripe center">
            <a href="#" class="facebook">
                <i class="fa fa-facebook"></i>
            </a>
            
            <a href="#" class="twitter">
                <i class="fa fa-twitter"></i>
            </a>
            
            <a href="#" class="dribbble">
                <i class="fa fa-dribbble"></i>
            </a>

            <a href="#" class="linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
            
            <a href="#" class="pinterest">
                <i class="fa fa-pinterest"></i>
            </a>
            
            <a href="#" class="dropbox">
                <i class="fa fa-dropbox"></i>
            </a>            
            
            <a href="#" class="linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
            
            <a href="#" class="foursquare">
                <i class="fa fa-foursquare"></i>
            </a>            
            
            <a href="#" class="instagram">
                <i class="fa fa-instagram"></i>
            </a>  
        </div><!-- /.social-stripe -->
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->                                </div><!-- /.container -->
                    </div><!-- /.footer-top -->
                
                <div class="footer-bottom">
                    <div class="container">
                        <nav class="clearfix">
                            <ul class="nav navbar-nav footer-nav">
                                <li><a href="../../demo/automotive/index.html">Automotive</a></li>
                                <li><a href="../../demo/directory/index.html">Directory</a></li>
                                <li><a href="../../demo/real-estate/index.html">Real Estate</a></li>
                            </ul><!-- /.nav -->
                        </nav>

                        <div class="copyright">
                            Designed by <a href="http://themeforest.com/user/themefire">ThemeFire</a> / Assembled in <a href="http://pragmaticmates.com">Pragmatic Mates</a>
                        </div>
                    </div><!-- /.container -->
                </div><!-- /.footer-bottom -->
            </div><!-- /#footer-inner -->
        </div><!-- /#footer -->
    </div><!-- /#footer-wrapper -->
</div><!-- /#page -->

<script type="text/javascript" src="../../assets/js/libraries/jquery.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="../../assets/js/libraries/gmap3.clusterer.js"></script>
<script type="text/javascript" src="../../assets/js/libraries/gmap3.infobox.js"></script>

<script type="text/javascript" src="../../assets/libraries/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="../../assets/libraries/chosen/chosen.jquery.min.js"></script>
<script type="text/javascript" src="../../assets/libraries/isotope/jquery.isotope.min.js"></script>
<script type="text/javascript" src="../../assets/libraries/rangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>

<script type="text/javascript" src="../../assets/libraries/flot/jquery.flot.js"></script>
<script type="text/javascript" src="../../assets/libraries/flot/jquery.flot.canvas.js"></script>
<script type="text/javascript" src="../../assets/libraries/flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="../../assets/libraries/flot/jquery.flot.time.js"></script>

<script type="text/javascript" src="../../assets/libraries/bootstrap/javascripts/bootstrap/carousel.js"></script>
<script type="text/javascript" src="../../assets/libraries/bootstrap/javascripts/bootstrap/collapse.js"></script>
<script type="text/javascript" src="../../assets/libraries/bootstrap/javascripts/bootstrap/dropdown.js"></script>
<script type="text/javascript" src="../../assets/libraries/bootstrap/javascripts/bootstrap/tab.js"></script>
<script type="text/javascript" src="../../assets/libraries/bootstrap/javascripts/bootstrap/transition.js"></script>

<script type="text/javascript" src="../../assets/js/map.js"></script>
<script type="text/javascript" src="../../assets/js/graph.js"></script>
<script type="text/javascript" src="../../assets/js/director.js"></script>

</body>
</html>